<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorial</title>
    <link rel="stylesheet" href="./style.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <h1>{{ greet('afternoon') }}</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>
        <!-- v-bind: or just : -->
        <a v-bind:href="website">Github</a>
        <input type="text" :value="name">
        <p v-html="websiteTag"></p>

        <h1>EVENTS</h1>
        <p>My Age is {{ age }}</p>
        <!-- v-on: or @ for triggering methods on events -->
        <button v-on:click="addAge(1)">Add a Year</button>
        <button v-on:click="subtractAge(1)">Subtract a Year</button>
        <button v-on:dblclick="addAge(10)">Add 10 Years</button>
        <button @dblclick="subtractAge(10)">Subtract 10 Years</button>
        <div id="canvas" @mousemove="updateXY">{{ x }},{{ y }}</div>

        <h2>EVENT MODIFIERS</h2>
        <button v-on:click.once="addAge(1)">Add a Year Once</button>
        <a v-on:click.prevent="click" href="https://github.com/Mosnes">Click Me!</a>
       
        <h2>KEYBOARD EVENTS</h2>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName" />
        <label>Age:</label>
        <!-- chain modifiers to trigger events on key combinations like alt+enter -->
        <input type="text" v-on:keyup.alt.enter="logAge" />
        
        <h2>TWO-WAY DATA BINDING</h2>
        <label>Name:</label>
        <!-- v-model binds the value of the input element to the data property with the same name -->
        <input type="text" v-model="name2" />
        <span>{{ name2 }}</span>
        <label>Age:</label>
        <input type="text" v-model="age2" />
        <span>{{ age2 }}</span>
        
        <h2>COMPUTED PROPERTIES</h2>
        <!-- methods run whenever any data value updates
        computed properties only run when a data value associated
        with the computed property changes -->
        <button @click="a++">Add to A</button>
        <button @click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

        <h2>DYNAMIC CSS</h2>
        <h3>Example 1</h3>
        <!-- <div @click="available = !available" v-bind:class="{available: available}">
            <span>Jimbo</span>
        </div> -->
        <h3>Example 2</h3>
        <button @click="nearby = !nearby">Toggle Nearby</button>
        <button @click="available = !available">Toggle Available</button>
        <div v-bind:class="compClasses">
            <span>Grobo Flimp</span>
        </div>

        <h2>V-IF and V-SHOW</h2>
        <button @click="error = !error">Toggle Error</button>
        <button @click="success = !success">Toggle Success</button>
        <!-- v-if toggles whether the element exists on the DOM -->
        <p v-if="error">This will display when error is true</p>
        <p v-else-if="success">This will display when success is true and error is false</p>
        <!-- v-show toggles display: none -->
        <p v-show="error">There has been an error</p>
        <p v-show="success">Woo success!</p>
        
        <h2>LOOPING WITH V-FOR</h2>
        <h3>Characters</h3>
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>
        <h3>Dudes</h3>
        <ul>
            <li v-for="(dude, index) in dudes">{{ index }} Name: {{ dude.name }} - Age: {{ dude.age }}</li>
        </ul>

        <h3>Dudes with Template</h3>
        <template v-for="(dude, index) in dudes">
            <h4>{{index}} . {{dude.name}}</h4>
            <p>{{dude.name}} is {{dude.age}} years old.</p>
        </template>

        <h3>Looping thru keys in objects</h3>
        <template v-for="dude in dudes">
            <div v-for="(val, key) in dude">{{key}} : {{val}}</div>
        </template>

        <h3>Punching Bag App</h3>
        <!-- bag image -->
        <div id="bag"></div>
        <!-- bag health bar -->
        <div id="bag-health">
            <div></div>
        </div>
        <!-- app control buttons -->
        <div id="controls">
            <button>Punch</button>
            <button>Restart</button>
        </div>


    </div>

    <script src="./app.js"></script>
</body>
</html>