<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorial</title>
    <link rel="stylesheet" href="./style.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <h1>{{ greet('afternoon') }}</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>
        <!-- v-bind: or just : -->
        <a v-bind:href="website">Github</a>
        <input type="text" :value="name">
        <p v-html="websiteTag"></p>

        <h1>EVENTS</h1>
        <p>My Age is {{ age }}</p>
        <!-- v-on: or @ for triggering methods on events -->
        <button v-on:click="addAge(1)">Add a Year</button>
        <button v-on:click="subtractAge(1)">Subtract a Year</button>
        <button v-on:dblclick="addAge(10)">Add 10 Years</button>
        <button @dblclick="subtractAge(10)">Subtract 10 Years</button>
        <div id="canvas" @mousemove="updateXY">{{ x }},{{ y }}</div>

        <h2>EVENT MODIFIERS</h2>
        <button v-on:click.once="addAge(1)">Add a Year Once</button>
        <a v-on:click.prevent="click" href="https://github.com/Mosnes">Click Me!</a>
       
        <h2>KEYBOARD EVENTS</h2>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName" />
        <label>Age:</label>
        <!-- chain modifiers to trigger events on key combinations like alt+enter -->
        <input type="text" v-on:keyup.alt.enter="logAge" />
        
        <h2>TWO-WAY DATA BINDING</h2>
        <label>Name:</label>
        <!-- v-model binds the value of the input element to the data property with the same name -->
        <input type="text" v-model="name2" />
        <span>{{ name2 }}</span>
        <label>Age:</label>
        <input type="text" v-model="age2" />
        <span>{{ age2 }}</span>
        
        <h2>COMPUTED PROPERTIES</h2>
        <!-- methods run whenever any data value updates
        computed properties only run when a data value associated
        with the computed property changes -->
        <button @click="a++">Add to A</button>
        <button @click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

    </div>

    <script src="./app.js"></script>
</body>
</html>